LOGIN=pfrances
DOMAIN_NAME=pfrances.42.fr

#Nginx
SSL_CRT_PUB_PATH=/etc/nginx/ssl/inception.crt
SSL_CRT_PRIV_PATH=/etc/nginx/ssl/inception.key

#MariaDB
MYSQL_DB_NAME=inception_wpDb
MYSQL_ROOT_PASSWORD=inception_mariadb_r
MYSQL_USER=pfrances
MYSQL_PASSWORD=inception_mariadb_p

#WordPress
WP_PATH=/var/www/html/wordpress
WP_TITLE=inception
WP_ADMIN_USER=inceptionMain
WP_ADMIN_PASSWORD=inceptionMain_a
WP_ADMIN_MAIL=pfrances@student.42tokyo.jp
WP_URL=pfrances.42.fr